@import url('https://fonts.googleapis.com/css?family=Simonetta:500,600,700,800');

body, html {
    font-family: 'Simonetta', sans-serif;
    background-color: #D8D9CC; 
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.messages li {
    list-style-type: none;
}

.messages ul li {
    list-style-type: none;
}

/*------------LOGO--------------*/

.main-header {
    background: #273940;  
}



/*------------NAVBAR--------------*/

 .navbar {
     background: #273940;
     font-family: "Simonetta";
     margin-bottom: 0px;
     font-size: 19px;

 }
 .contariner-logo {
     background: #273940;
 }
 .logo--main {

    background: #273940;
  }


 #navbar10 {
     padding: 0%;
 }

 .navbar li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 19px;
  }

  
/*------------SLIDER--------------*/

.carousel-item {
    height: 70vh;
    background-position: center;
    background-size: cover;
}



 /*------------Media Queries--------------*/


@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
    
    .card {
        width: 100%;
    }
    
    
}

